/Projeto/MasterClub_Apresentacao/nbproject/private/
/Projeto/MasterClub_Aplicacao/nbproject/private/
/Projeto/MasterClub_Persistencia/nbproject/private/
/Projeto/MasterClub_Apresentacao/build/
/Projeto/MasterClub_Persistencia/build/
/Projeto/MasterClub_Aplicacao/build/